<div>
  <h1>
    My Posts
  </h1>
  {{#each posts as |post|}}
    <a data-post_id="{{post.id}}">
      {{post.title}}
      |
      {{format_date post.createdAt}}
    </a>
  {{/each}}
  <div>
    <a href="/new-post">Create New Post</a>
  </div>
</div>