{{#each posts as |post| }}
<div>
    <h1>
        {{post.title}}
    </h1>
    <p>
        Posted by {{post.user.username}} on {{format_date post.createdAt}}
    </p>
    <div>
        <a href="/api/posts/{{post.id}}">View Post</a>
</div>
    {{/each}}