<h1>
            Create New Post
        </h1>
        <form id="newPost">
                <label class="label">Post Title</label>
                    <input class="input" type="text" placeholder="Title" id="title">
            </div>
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="What're you thinking?" id="description"></textarea>
                </div>
                <p class="control">
                    <button type="submit">
                        Create Post
                    </button>
                </p>
            </div>
        </form>
</div>


<script src="/js/new-post.js"></script>