*{
  font-family: "Open Sans", "Helvetica Neue", Helvetica,;
  background-color: pink;
  color:black;
}
#titleTech{
  margin-right:650px;
  font-size:50px;
}
.nav-item{
  margin-right:20px;
}
#logout{
margin-left:1680px;
}
button{
  margin-top:20px;
  margin-bottom:20px;
  background-color:white;
  color:black;
  border-radius: 12px;
  border-color: white;
}
a{
  text-decoration:none;
  color:black;
}

.postcontainer{
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 50px;
}

li{
  text-decoration: none;
}
nav {
  text-decoration: none;
}
textarea, input{
  background-color: white;
  border-color: white;
}

.card-header{
  background-color:white;
}
.card-body{
  font-size: 20px;
  font-weight: bolder;
}